/**
 * Colores
 */

// Variables SCSS
$beige : #F9F7E5;
$azul : #BAF7F1;
$turquesa : #46C5C1;
$petroleo : #5C7093;
$menta : #7CD6B7;

// Variables quasar palette
.text-beige {
    color: $beige;
}
.bg-beige {
    background: $beige;
}
.text-azul {
    color: $azul;
}
.bg-azul {
    background: $azul;
}
.text-turquesa {
    color: $turquesa;
}
.bg-turquesa {
    background: $turquesa;
}
.text-petroleo {
    color: $petroleo;
}
.bg-petroleo {
    background: $petroleo;
}
.text-menta {
    color: $menta;
}
.bg-menta {
    background: $menta;
}