/* CSS Mini Reset */
html, body, div, form, fieldset, legend, label {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th, td {
    text-align: left;
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }
img { border: 0; }

/* Importamos las variables css del proyecto para que estén disponibles para todo el proyecto */
@import "variables";

/* Modificar iconos q-select del componente welcome */
.fa-adjust:before {
    content: url('/img/flags/es_small.png') !important;
}
.fa-adn:before {
    content: url('/img/flags/en_small.png') !important;
}
.fa-adobe:before {
    content: url('/img/flags/it_small.png') !important;
}
.fa-adversal:before {
    content: url('/img/flags/de_small.png') !important;
}
.fa-algolia:before {
    content: url('/img/flags/fr_small.png') !important;
}
.fa-alipay:before {
    content: url('/img/flags/pt_small.png') !important;
}

.q-loading-bar.top.bg-red {
    background: #5C7093 !important;
}
