<template>
    <q-layout view="lHh Lpr fff">
        <q-layout-header v-if="!isWelcome">
            <router-view name="top-menu"></router-view>
        </q-layout-header> 
        <q-page-container>
            <router-view @onWelcome="onWelcome"></router-view>
        </q-page-container>
        <router-view name="app-footer" v-if="!isWelcome"></router-view>
    </q-layout>
</template>

<script>
    import { mapActions, mapState } from 'vuex';
    export default {
        name: "app",
        data() {
            return {
                isWelcome: false
            }
        },
        watch: {
            auth(value) {
                if (value) {
                    this.getUserInfo();
                }
            }
        },
        computed: {
            ...mapState('auth', ['auth'])
        },
        methods: {
            ...mapActions('auth', ['getUserInfo']),
            onWelcome: function(isWelcome) {
                this.isWelcome = isWelcome;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .q-layout {
        overflow: hidden;
    }
    header, footer {
        opacity: 0;
    }
</style>