<template>
    <div>
        <span>Bienvenido</span>
        <span>Benvingut</span>
        <span>Dobrodošli</span>
        <span>Welcome</span>
        <span>Kαλωσόρισμα</span>
        <span>Ongietorri</span>
        <span>Bienvenue</span>
        <span>Bem-vindo</span>
        <span>Powitanie</span>
        <span>Willkommen</span>
        <span>欢迎</span>
        <span>Välkommen</span>
        <span>Benvenuto</span>
        <span>歓迎</span>
        <span>ترحيب</span>
    </div>
</template>

<script>
export default {
    name: "welcome-transition",
}
</script>

<style lang="scss" scoped>
@import "resources/sass/variables";
    div {
        width: 100%;
        height: 100%;
        position: absolute;
        background: $petroleo;
        transform: translateX(-110%) skewX(-10deg);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 1vw;
    }
    span{
        color: white;
        &:nth-child(3n-2) {
            font-size: 5vw;
            text-shadow: 1px 5px 6px $menta;
        }
        &:nth-child(2n) {
            font-size: 3.5vw;
            text-shadow: 1px 4px 6px $azul;
        }
        &:nth-child(3n) {
            font-size: 2vw;
            text-shadow: 1px 3px 6px $turquesa;
        }
        &:nth-child(1), &:nth-child(9), &:nth-child(6) {
            font-family: 'Bad Script', cursive;
        }
        &:nth-child(12), &:nth-child(5), &:nth-child(4) {
            font-family: 'Dancing Script', cursive;
        }
        &:nth-child(2), &:nth-child(7), &:nth-child(13) {
            font-family: 'Indie Flower', cursive;
        }
        &:nth-child(10), &:nth-child(3), &:nth-child(8) {
            font-family: 'Pacifico', cursive;
        }
    }
    @for $i from 1 through 15 {
    span {
        &:nth-child(#{$i}){
            padding: random(3) + vw;
            transform: translate(random(3) + vw, random(10)-5 + vw)
            }
        }
    }
    @font-face {
        font-family: 'Bad Script';
        src: url('./../../../../public/fonts/GoogleFonts/Bad_Script/BadScript-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Dancing Script';
        src: url('./../../../../public/fonts/GoogleFonts/Dancing_Script/DancingScript-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Indie Flower';
        src: url('./../../../../public/fonts/GoogleFonts/Indie_Flower/IndieFlower.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Pacifico';
        src: url('./../../../../public/fonts/GoogleFonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
    }

</style>
