<template>
    <router-view @onWelcome="onWelcome"></router-view>
</template>

<script>
    export default {
        name: "PublicLayout",
        methods: {
            onWelcome: function (isWelcome) {
                this.$emit('onWelcome', isWelcome)
            }
        }
    }
</script>

<style scoped>

</style>